
html, body {
	font-family: Georgia, serif;
	font-size: 16px;
	max-width: 36em;
	margin-left: auto;
	margin-right: auto;
	padding: 2em;
}

a {
	color: #08f;
	text-decoration: none;
}

h3 {
	margin-top: 3em;
}

p {
	display: block;
	margin: 0;
	margin-bottom: 1em;
	padding: 0;
}

p.pillar {
	/*font-style: italic;*/
	line-height: 1.618em;
	color: #408b;
	padding: 0 2em;
}

hr.pillar {
	color: #80f8;
	margin-top: 2em;
	margin-bottom: 2em;
	border: 2px dotted;
	border-style: none none dotted;
}

a.fn {
	font-size: 0.618em;
	padding: 0 0.2em;
	color: #048;
	background-color: #08f4;
	text-decoration: none;
	vertical-align: super;
}

img {
	width: 100%;
	margin-bottom: 1em;
}

/*-----*/

note {
	display: block;
	font-family: monospace;
	font-size: 0.75em;
	color: #0006;
	background-color: #8881;
	margin-bottom: 1.333em;
	padding: 1em;
	border-left: 2px solid #0002;
}

quote {
	display: block;
	color: #0009;
	margin-bottom: 1em;
	padding-left: 1em;
	border-left: 2px dotted #0004;
}

ibid {
	display: block;
	font-size: 0.8em;
	color: #0488;
	background-color: #08f1;
	margin-bottom: 1.125em;
	padding: 1em;
	border-left: 2px solid #0484;
}

say {
	display: block;
	/*text-decoration: underline;*/
	font-family: monospace;
	font-size: 0.8em;
	margin-bottom: 1em;
	padding-left: 1em;
	border-left: 2px solid #0004;
}

say.time {
	color: #090;
	text-decoration-color: #090;
	border-left-color: #090;
}

say.depths {
	color: #b00;
	text-decoration-color: #b00;
	border-left-color: #b00;
}

say.humanity {
	color: #970;
	text-decoration-color: #970;
	border-left-color: #970;
}

say.self {
	color: #666;
	text-decoration-color: #666;
	border-left-color: #666;
}

hi {
	background-color: #fc03;
}

/*-----*/

footnotes {
	display: block;
	font-size: 0.8em;
	margin-top: 4em;
	margin-bottom: 4em;
	padding: 1em;
	background-color: #08f1;
	border-top: 2px solid #0484;
}

footnotes ul {
	margin: 0;
	padding: 0;
}

footnotes li {
	list-style-type: none;
}

footnotes li + li {
	margin-top: 1em;
}

footnotes li a:first-child {
	padding: 0 0.25em;
	color: #048;
	background-color: #08f4;
}
